node_modules/
.DS_Store
dist/
build/
.env
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.firebase/
.idea/
.vscode/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
